<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>공지사항</title>
    <link rel="stylesheet" href="../../static/css/admin/admin.css">
</head>
<body>
    <!-- 모달 -->
    <!-- 삭제 모달창 -->
    <div id="delete-modal" class="delete-modal">
        <div class="modal-content">
        <p>정말로 삭제하시겠습니까?</p>
        <div class="modal-buttons">
            <button class="confirm-btn">확인</button>
            <button class="cancel-btn">취소</button>
        </div>
        </div>
    </div>
    <!-- 글쓰기 모달창 -->
    <div id="write-modal" class="write-modal">
        <div class="write-content notice-write-content">
        <!-- <p>공지사항을 작성해주세요</p> -->
        <div class="modal-buttons">
            <form method="post">
            <div class="form-group">
				<label>제목</label> 
                <input class="form-control" name="title">
			</div>
            <div class="form-group">
				<label>내용</label>
					<textarea class="form-control" rows="10" name="content"></textarea>
			</div>
            <div class="form-group">
				<label>이미지 업로드</label>
                    <input type="file" class="image-upload" accept="image/*" required multiple>
                    <div class="thumbnail">
                        <img src="../../static/image/admin/excel.png">
                        <img src="../../static/image/admin/excel.png">
                        <img src="../../static/image/admin/excel.png">
                    </div>
                    
			</div>
            <div class="writes">
            <button class="cancel-btn">취소</button>
            <input class="notice-submit" type="submit" value="등록">
            </div>
        </div>
            </form>
        </div>
    <!-- 공지 상세 페이지 모달 -->
    <!-- 상세 페이지 모달 -->
</div>
<div id="detail-modal" class="detail-modal">
    <div class="detail-content">
    <p>공지사항</p>
    <div class="detail-wrapper">
        <div class="form-group">
            <label>제목</label> 
            <input class="form-control" name="notice-title" readonly>
        </div>
        <div class="form-group">
            <label>작성일</label> 
            <input class="form-control" name="notice-date" readonly>
        </div>
        <div class="form-group">
            <label>내용</label>
                <textarea class="form-control" rows="10" name="notice-content" readonly></textarea>
        </div>
        <div class="form-group">
            <div class="detail-images">
            <label>첨부 파일</label>
            <div></div>
            <img src="../../static/image/admin/search.png">
            <img src="../../static/image/admin/search.png">
            <img src="../../static/image/admin/search.png">
            <img src="../../static/image/admin/search.png">
            <img src="../../static/image/admin/search.png">
        </div>
        </div>
        <div class="modal-buttons">
            <button class="confirm-btn">확인</button>
            <!-- <button class="cancel-btn">취소</button> -->
        </div>
        </div>
    </div>
    <!-- 상세 이미지 모달 -->
    <div class="image-show-modal">
        <button>&times;</button>
        <div class="modalBox">
            <img src="../../static/image/admin/search.png" alt="">
            <p></p>
        </div>
    </div>
    <!-- 상세 이미지 모달 -->
    </div>
    <!-- 모달 -->

    <!-- 헤더 -->
    <header>
        <div class="logo-wrapper">
            <div class="logo">사과 프로젝트</div>
        </div>
        <div class="time-wrapper">
            <div class="time-left">현재 시간 : </div>
            <!-- 현재 시간 js로 들어감 -->
            <div class="time"></div>
        </div>
    </header>
    <main>
               <!-- 사이드 바 메뉴 -->
               <nav>
                <div class="menu-bar">
                    <ul>
                       <!-- <li class="menu">
                            <a class="menus" href="/admins/home">홈</a>
                        </li>-->
                        <li class="menu">
                            <a class="menus" href="/admin/admin-goods">상품 관리</a>
                        </li>
                        <li class="menu">
                            <a class="menus" href="/admin/admin-order">주문 관리</a>
                        </li>
                        <li class="menu">
                            <a class="menus" href="/admin/admin-notice">공지 관리</a>
                        </li>
                        <li class="menu">
                            <a class="menus" href="/admin/admin-notice">문의 관리</a>
                        </li>
                        <li class="menu">
                            <a class="menus" href="/admin/admin-inquiry">품종 관리</a>
                        </li>
                    </ul>
                </div>
            </nav>
        <!-- contents -->
        <content>
            <!-- 검색 창 -->
            <article class="module--search">
                <div class="search__searchbox">
                    <form action="" class="search__searchbox__form" name="search-form">
                        <input id="searchbox" type="text" placeholder="원하시는 키워드로 검색해보세요" maxlength="40"/>
                        <button type="button" class="search__searchbox__button">
                            <img src="../../static/image/admin/search.png"/>
                        </button>
                    </form>
                </div>
            </article>
            <!-- 검색 창 -->
            <div class="inner-wrapper">
                <div class="title-wrapper">
                    <div class="page-title">공지사항</div>
                    <div class="button-class">
                        <div class="write-button">글쓰기</div>
                        <div class="delete-button">삭제하기</div>
                        </div>
                    </div>

                    <!-- 본문 -->
                    <table id="notice-table">
                        <thead>
                        <tr>
                            <th>
                                <!-- 체크박스 -->
                                <div class="checkbox-wrapper-21">
                                    <label class="control control--checkbox">
                                        <input type="checkbox" id="select-all" class="substituted" style="display: none;"/>
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                                <!-- 체크박스 -->
                                <!-- <input type="checkbox" id="select-all" class="substituted"> -->
                            </th>
                            <th class="number">번호</th>
                            <th class="notice-title">제목</th>
                           <!--  <th class="writer inquiry-email">이메일 주소</th> -->
                            <th class="notice-content">글 내용</th>
                            <th class="date">등록일</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>1</td>
                                <td>공지사항입니다</td>
                                <td>글 내용이 보이다가 일정 부분에서 짤리는게 좋을 것 같은데 어떻게 생각..</td>
                                <td>2024-02-03</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>1</td>
                                <td>공지사항입니다</td>
                                <td>위에 내용처럼 일정 부분만 표시되게 하는 게 좋지 않을까요</td>
                                <td>2024-02-03</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>1</td>
                                <td>공지사항입니다</td>
                                <td>공지사항 예시입니다 내용입니다 컨텐츠입니다</td>
                                <td>2024-02-03</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>1</td>
                                <td>공지사항입니다</td>
                                <td>글 내용이 보이다가 일정 부분에서 짤리는게 좋을 것 같은데</td>
                                <td>2024-02-03</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>1</td>
                                <td>공지사항입니다</td>
                                <td>글 내용이 보이다가 일정 부분에서 짤리는게 좋을 것 같은데</td>
                                <td>2024-02-03</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>1</td>
                                <td>공지사항입니다</td>
                                <td>글 내용이 보이다가 일정 부분에서 짤리는게 좋을 것 같은데</td>
                                <td>2024-02-03</td>
                            </tr>
                        </tbody>
                    </table>

                <div class="pages-wrapper">
                    <div class="arrow-left"></div>
                    <div class="page active">1</div>
                    <div class="page">2</div>
                    <div class="page">3</div>
                    <div class="page">4</div>
                    <div class="page">5</div>
                    <div class="arrow-right"></div>
                </div>
            </div>
        </content>
        <!-- contents -->
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../../static/js/admin/admin.js"></script>
<!-- <script src="../../static/admin/inquiry-list-search.js"></script> -->
<script src="../../static/admin/checkbox.js"></script>
</html>
