<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>품종 등록 페이지</title>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/admin/admin-goods.css">
</head>
<body>
    <!-- 모달 -->
    <!-- 삭제 모달창 -->
    <div id="delete-modal" class="delete-modal">
        <div class="modal-content">
        <p>정말로 삭제하시겠습니까?</p>
        <div class="modal-buttons">
            <button id="cancel-btn">취소</button>
            <button id="confirm-btn">확인</button>
        </div>
        </div>
    </div>
    <!-- 모달 -->
    <!-- 등록 모달창 -->
    <div id="write-modal" class="write-modal">
        <div class="write-content">
        <!-- <p>공지사항을 작성해주세요</p> -->
            <div class="modal-buttons">
                <form method="post" th:action="@{/admin/kind-save}" name="productRegistrationInsertForm">
                    <div class="form-group kind-select">
                        <label>품종</label>
                        <!--                <select>-->
                        <!--                    <option value="apple">사과</option>-->
                        <!--                    <option value="apple-juice">사과즙</option>-->
                        <!--                </select>-->
                        <input type="text" name="productRegistrationName" id="insert-name">
                    </div>
                    <div class="kind-checkbox">
                        <div class="kind-option">
                            <input type="checkbox" class ="chk" name="productRegistrationSpecification" id="insert-specification" value="Y"><p>규격</p>
                        </div>
                        <div class="kind-option">
                            <input type="checkbox" class ="chk" name="productRegistrationWeight" id="insert-weight" value="Y"><p>키로수</p>
                        </div>
                        <div class="kind-option">
                            <input type="checkbox" class ="chk" name="productRegistrationQuantity" id="insert-quantity" value="Y"><p>개수</p>
                        </div>
                        <div class="kind-option">
                            <input type="checkbox" class ="chk" name="productRegistrationPrice" id="insert-price" value="Y"><p>가격</p>
                        </div>
                    </div>
                    <div class="writes">
                        <input class="notice-submit" id="insert-button" type="button" value="등록">
                        <button class="cancel-btn" type="button">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 등록 모달창 끝 -->
    <!-- 수정 모달창 -->
    <div id="edit-modal" class="write-modal">
        <div class="write-content">
        <!-- <p>공지사항을 작성해주세요</p> -->
            <div class="modal-buttons">
                <form method="post" th:action="@{/admin/kind-edit}" name="productRegistrationUpdateForm">
                    <input type="hidden" name="productRegistrationId">
                    <div class="form-group kind-select">
                        <label>품종</label>
<!--                            <select>-->
<!--                                <option value="apple">사과</option>-->
<!--                                <option value="apple-juice">사과즙</option>-->
<!--                            </select>-->
                        <input type="text" name="productRegistrationName" id="update-name">
                    </div>
                    <div class="kind-checkbox">
                        <div class="kind-option">
                            <input type="checkbox" class ="chk" name="productRegistrationSpecification" value="Y"><p>규격</p>
                        </div>
                        <div class="kind-option">
                            <input type="checkbox" class ="chk" name="productRegistrationWeight" value="Y"><p>키로수</p>
                        </div>
                        <div class="kind-option">
                            <input type="checkbox" class ="chk" name="productRegistrationQuantity" value="Y"><p>개수</p>
                        </div>
                        <div class="kind-option">
                            <input type="checkbox" class ="chk" name="productRegistrationPrice" value="Y"><p>가격</p>
                        </div>
                    </div>
                    <div class="writes">
                        <input class="notice-submit" id="edit-button" type="button" value="등록">
                        <button class="cancel-btn" type="button">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 수정 모달창 끝 -->
    <div id="detail-modal" class="detail-modal">
        <div class="detail-content modal-background">
        <p>상품 상세 페이지</p>
        <div class="detail-wrapper">
            <div class="form-group">
                <label>품종</label> 
                <input class="form-control" name="kind-detail" readonly>
            </div>
            <div class="kind-checkbox">
                <div class="kind-option"><input type="checkbox" class ="chk"><p>규격</p></div>
                <div class="kind-option"><input type="checkbox" class ="chk"><p>개수</p></div>
                <div class="kind-option"><input type="checkbox" class ="chk"><p>키로수</p></div>
                <div class="kind-option"><input type="checkbox" class ="chk"><p>가격</p></div>
              </div>
            <div class="modal-buttons">
                <!-- <button class="cancel-btn">취소</button> -->
                <button class="confirm-btn">확인</button>
        </div>
            </div>
        </div>
        </div>
    <!-- 모달 -->
    <header>
        <div class="logo-wrapper">
            <div class="logo">사과 프로젝트</div>
        </div>
        <div class="time-wrapper">
            <div class="time-left">현재 시간 : </div>
            <!-- 현재 시간 js로 들어감 -->
            <div class="time"></div>
        </div>
    </header>
    <main>
        <!-- 사이드 바 메뉴 -->
        <nav>
            <div class="menu-bar">
                <ul>
                   <!-- <li class="menu">
                        <a class="menus" href="/admins/home">홈</a>
                    </li>-->
                    <li class="menu">
                        <a class="menus" href="/admins/member/list">상품 관리</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/event-board/list">주문 관리</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/recruitment-board/list">공지 관리</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/purchase-board/list">문의 관리</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/purchase-board/list">품종 관리</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- 사이드 바 메뉴 -->
        <!-- contents -->
        <content>
            <!-- 검색 창 -->
            <article class="module--search">
                <div class="search__searchbox">
                    <form action="" class="search__searchbox__form">
                        <input id="searchbox" type="text" placeholder="원하시는 키워드로 검색해보세요" maxlength="40"/>
                        <button type="button" class="search__searchbox__button">
                            <img src="/image/admin/search.png"/>
                        </button>
                    </form>
                </div>
            </article>
            <!-- 검색 창 -->
            <div class="inner-wrapper">
                <div class="title-wrapper">
                    <div class="page-title">품종 목록</div>
                    <div class="button-class">
                        <div class="write-button">등록하기</div>
                        <div class="delete-button">삭제하기</div>
                    </div>
                </div>

                <!-- 본문 -->
                <table id="kind-table">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" class="all-check" id="all-check">
                            </th>
                            <th class="kind-table">품종 이름</th>
                            <th class="kind-seller">규격 사용여부</th>
                            <th class="kind-title">개수 사용여부</th>
                            <th class="date">키로수 사용여부</th>
                            <th class="date">가격 사용여부</th>
                        </tr>
                    </thead>
                    <!-- 품종 리스트 시작 -->
                    <tbody class="kind-content"></tbody>
                    <!-- 품종 리스트 끝 -->
                </table>
                <div class="pages-wrapper">
                    <div class="arrow-left">
                        <img src="/image/admin/arrow-left.png">
                    </div>
                    <div class="page active">1</div>
                    <div class="page">2</div>
                    <div class="page">3</div>
                    <div class="page">4</div>
                    <div class="page">5</div>
                    <div class="arrow-right">
                        <img src="/image/admin/arrow-right.png">
                    </div>
                </div>
            </div>
        </content>
        <!-- contents -->
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">
    let productRegistrations = [[${productRegistrationVOS}]];
</script>
<script src="/js/admin/admin.js"></script>
<script src="/js/admin/kind.js"></script>
<script src="/js/admin/checkbox.js"></script>
</html>