<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 페이지</title>
    <link rel="stylesheet" href="../../static/css/admin/admin.css">
    <link rel="stylesheet" href="../../static/css/admin/admin-goods.css">
</head>
<body>
     <!-- 모달 -->
    <!-- 삭제 모달창 -->
    <div id="delete-modal" class="delete-modal">
        <div class="modal-content">
        <p>정말로 삭제하시겠습니까?</p>
        <div class="modal-buttons">
            <button class="confirm-btn">확인</button>
            <button class="cancel-btn">취소</button>
        </div>
        </div>
    </div>
    <!-- 모달 -->
       <!-- 글쓰기 모달창 -->
    <div id="write-modal" class="write-modal">
        <div class="write-content">
        <!-- <p>공지사항을 작성해주세요</p> -->
        <div class="modal-buttons">
            <form method="post">
                <div class="form-group kind-select">
                    <label>품종</label> 
                    <select>
                        <option value="apple">사과</option>
                        <option value="apple-juice">사과즙</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>제목</label> 
                    <input class="form-control" name="title" required>
                </div> 
                <div class="form-group">
				    <label>판매자</label> 
                    <input class="form-control" name="name" required>
			    </div>
                <div class="form-group">
                    <label>판매 단위</label> 
                    <input class="form-control" name="sales-unit">
                </div>
                <div class="option-kind option-class">
                    <div class="form-group">
                        <label>규격</label> 
             <!--            <select name="option">
                                <option value="americano">1과</option>
                                <option value="caffe latte">2과</option>
                                <option value="espresso">3과</option>
                                <option value="espresso">4과</option>
                        </select> -->
                        <input class="form-control" name="option">
                    </div>
                    <div class="form-group">
                        <label>개수</label> 
                        <input class="form-control" name="count">
                    </div>
                    <div class="form-group">
                        <label>키로수</label> 
                        <input class="form-control" name="weigh">
                    </div>
                    <div class="form-group">
                        <label>가격</label> 
                        <input class="form-control" name="price">
                    </div>
                    <div class="plus-min-btn">
                        <img class="plus-btn" src="../../static/image/admin/plus.png">
                        <img class="minus-btn" src="../../static/image/admin/minus.png">
                      </div>
                    </div>


            <div class="form-group">
				<label>이미지 업로드</label>
                    <input type="file" class="image-upload" accept="image/*" multiple>
			</div>
            <div class="thumbnail">
                <img src="../../static/image/admin/excel.png">
                <img src="../../static/image/admin/excel.png">
                <img src="../../static/image/admin/excel.png">
                <img src="../../static/image/admin/excel.png">
                <img src="../../static/image/admin/excel.png">
            </div>
            <div class="writes">
                <input class="notice-submit" type="submit" value="등록">
            <button class="cancel-btn">취소</button>
            </div>
        </div>
            </form>
        </div>
    </div>
    <div id="detail-modal" class="detail-modal">
        <div class="detail-content">
        <p>상품 상세 페이지</p>
        <div class="detail-wrapper">
            <div class="form-group">
                <label>품종</label> 
                <input class="form-control" name="kind-detail" readonly>
			</div>
            <div class="form-group">
                <label>제목</label> 
                <input class="form-control" name="title-detail" readonly>
			</div>
            <div class="form-group">
                <label>판매자</label> 
                <input class="form-control" name="seller-detail" readonly>
			</div>
            <div class="form-group">
                <label>판매단위</label> 
                <input class="form-control" name="saels-unit-detail" readonly>
            </div>
            <div class="form-group">
                <label>중량/용량</label> 
                <input class="form-control" name="weigh-detail" readonly>
            </div>
            <div class="option-kind">
                <div class="form-group">
                    <label>규격</label> 
                    <input class="form-control" name="option-detail" readonly>
                </div>
                <div class="form-group">
                    <label>개수</label> 
                    <input class="form-control" name="count-detail" readonly>
                </div>
                <div class="form-group">
                    <label>키로수</label> 
                    <input class="form-control" name="weigh-detail" readonly>
                </div>
                <div class="form-group">
                    <label>가격</label> 
                    <input class="form-control" name="price-detail" readonly>
                </div>
            </div>
            <div class="form-group">
                <div class="detail-images">
                <label>첨부 파일</label>
                <div></div>
                <img src="../../static/image/admin/search.png">
                <img src="../../static/image/admin/search.png">
                <img src="../../static/image/admin/search.png">
                <img src="../../static/image/admin/search.png">
                <img src="../../static/image/admin/search.png">
            </div>
            </div>
            <div class="modal-buttons">
                <button class="confirm-btn">확인</button>
                <!-- <button class="cancel-btn">취소</button> -->
            </div>
            </div>
        </div>
        </div>
    <!-- 모달 -->
    <header>
        <div class="logo-wrapper">
            <div class="logo">사과 프로젝트</div>
        </div>
        <div class="time-wrapper">
            <div class="time-left">현재 시간 : </div>
            <!-- 현재 시간 js로 들어감 -->
            <div class="time"></div>
        </div>
    </header>
    <main>
        <!-- 사이드 바 메뉴 -->
        <nav>
            <div class="menu-bar">
                <ul>
                   <!-- <li class="menu">
                        <a class="menus" href="/admins/home">홈</a>
                    </li>-->
                    <li class="menu">
                        <a class="menus" href="/admins/member/list">상품 관리</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/event-board/list">주문 관리</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/recruitment-board/list">공지 관리</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/purchase-board/list">문의 관리</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/purchase-board/list">품종 관리</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- 사이드 바 메뉴 -->
        <!-- contents -->
        <content>
            <!-- 검색 창 -->
            <article class="module--search">
                <div class="search__searchbox">
                    <form action="" class="search__searchbox__form">
                        <input id="searchbox" type="text" placeholder="원하시는 키워드로 검색해보세요" maxlength="40"/>
                        <button type="button" class="search__searchbox__button">
                            <img src="../../static/image/admin/search.png"/>
                        </button>
                    </form>
                </div>
            </article>
            <!-- 검색 창 -->
            <div class="inner-wrapper">
                <div class="title-wrapper">
                    <div class="page-title">상품 목록</div>
                    <div class="button-class">
                        <div class="write-button">등록하기</div>
                        <div class="delete-button">삭제하기</div>
                        </div>
                    </div>

            <!-- 상품 목록 창 -->        
                <ul class="goods-list">
                    <li class="goods">
                            <div class="thumb">
                                <img src="../../static/image/admin/search.png">
                            </div>
                            <p class="goods-name">이름: 당도 높은 사과</p>
                            <p class="goods-price">가격: 300000만원</p>
                            <p class="upload-date">날짜: 2024-01-25</p>
                    </li>
                    <li class="goods">
                            <div class="thumb">
                                <img src="../../static/image/admin/search.png">
                            </div>
                            <p class="goods-name">이름: 당도 높은 사과</p>
                            <p class="goods-price">가격: 300000만원</p>
                            <p class="upload-date">날짜: 2024-01-25</p>
                    </li>
                    <li class="goods">
                            <div class="thumb">
                                <img src="../../static/image/admin/search.png">
                            </div>
                            <p class="goods-name">이름: 당도 높은 사과</p>
                            <p class="goods-price">가격: 300000만원</p>
                            <p class="upload-date">날짜: 2024-01-25</p>
                    </li>
                    <li class="goods">
                            <div class="thumb">
                                <img src="../../static/image/admin/search.png">
                            </div>
                            <p class="goods-name">이름: 당도 높은 사과</p>
                            <p class="goods-price">가격: 300000만원</p>
                            <p class="upload-date">날짜: 2024-01-25</p>
                    </li>
                    <li class="goods">
                            <div class="thumb">
                                <img src="../../static/image/admin/search.png">
                            </div>
                            <p class="goods-name">이름: 당도 높은 사과</p>
                            <p class="goods-price">가격: 300000만원</p>
                            <p class="upload-date">날짜: 2024-01-25</p>
                    </li>
                    <li class="goods">
                            <div class="thumb">
                                <img src="../../static/image/admin/search.png">
                            </div>
                            <p class="goods-name">이름: 당도 높은 사과</p>
                            <p class="goods-price">가격: 300000만원</p>
                            <p class="upload-date">날짜: 2024-01-25</p>
                    </li>
                    <li class="goods">
                            <div class="thumb">
                                <img src="../../static/image/admin/search.png">
                            </div>
                            <p class="goods-name">이름: 당도 높은 사과</p>
                            <p class="goods-price">가격: 300000만원</p>
                            <p class="upload-date">날짜: 2024-01-25</p>
                    </li>
                    <li class="goods">
                            <div class="thumb">
                                <img src="../../static/image/admin/search.png">
                            </div>
                            <p class="goods-name">이름: 당도 높은 사과</p>
                            <p class="goods-price">가격: 300000만원</p>
                            <p class="upload-date">날짜: 2024-01-25</p>
                    </li>
                    <li class="goods">
                            <div class="thumb">
                                <img src="../../static/image/admin/search.png">
                            </div>
                            <p class="goods-name">이름: 당도 높은 사과</p>
                            <p class="goods-price">가격: 300000만원</p>
                            <p class="upload-date">날짜: 2024-01-25</p>
                    </li>
                </ul>

                <div class="pages-wrapper">
                    <div class="arrow-left"></div>
                    <div class="page active">1</div>
                    <div class="page">2</div>
                    <div class="page">3</div>
                    <div class="page">4</div>
                    <div class="page">5</div>
                    <div class="arrow-right"></div>
                </div>
            </div>
        </content>
        <!-- contents -->
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../../static/js/admin/admin.js"></script>
<script src="../../static/js/admin/goods-admin.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>