<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 완료 페이지</title>
    <link rel="stylesheet" href="/css/order/order-complete.css">
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
</head>
<body>
<header id="header" th:replace="fragments/header :: header"></header>
    <div class="container">
        <img src="/static/image/KakaoTalk_20240122_174452638.jpg" alt="" class="complete-img">
        <div class="comment">주문이 완료되었습니다. 주문 내역을 확인하세요!</div>

        <div class="btnArea">
            <a href="" class="btnTypeA sizeXL">메인페이지</a>
            <button class="btnTypeB sizeXL">주문내역</button>
        </div>
    </div>
<footer id="footer" th:replace="fragments/footer :: footer"></footer>
</body>
</html>