<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 페이지</title>
    <link rel="stylesheet" href="/css/order/order.css">
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
</head>
<body>
<header id="header" th:replace="fragments/header :: header"></header>   `
    <div class="container">
<!--        <form name="orderForm" method="post" th:href="@{order-save}">-->
        <form name="orderForm" method="post" th:action="@{order}">
        <form name="orderForm" method="post" th:action="@{/order/order}">
            <div class="order-title">
                <h1>주문 페이지</h1>
            </div>
            <h2 class="order-content-title">주문자 정보 <span class="required"><em>*</em> 필수입력항목</span></h2>
            <table class="order-content-table">
                <caption>주문자 정보 입력폼</caption>
                <colgroup>
                    <col width="130">
                    <col width="">
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">성명 <em>*</em></th>
                        <td>
                            <input type="text" name="orderCustomerName" id="orderName" title="주문자 성명" style="width:140px" maxlength="10">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">휴대전화 <em>*</em></th>
                        <td>
                            <select name="orderPhoneStart" id="orderPhoneStart" title="주문자 휴대전화 앞자리" style="width:88px">
                                <option value="010">010</option>
                                <option value="011">011</option>
                                <option value="016">016</option>
                                <option value="017">017</option>
                                <option value="018">018</option>
                                <option value="019">019</option>
                            </select>&nbsp;-
                            <input type="text" name="orderPhoneMiddle" title="주문자 휴대전화 가운데자리" style="width:70px;ime-mode:disabled" maxlength="4">&nbsp;-
                            <input type="text" name="orderPhoneEnd" title="주문자 휴대전화 뒷자리" style="width:70px;ime-mode:disabled" maxlength="4">
                            <input type="text" name="orderCustomerPhone" title="주문자 휴대전화" style="display:none">
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <h2 class="order-content-title">배송지 정보 <span class="required"><em>*</em> 필수입력항목</span></h2>
            <table class="order-content-table">
                <caption>배송지 정보 입력폼</caption>
                <colgroup>
                    <col width="130">
                    <col width="">
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">성명 <em>*</em></th>
                        <td>
                            <input type="text" name="orderRecipientName" title="수취인 성명" style="width:140px" maxlength="10">
                            <label>
                                <input type="checkbox" name="enterSame">위 주문자 정보와 동일하게 입력
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">휴대전화 <em>*</em></th>
                        <td>
                            <select name="receivePhoneStart" id="receive-phone-start" title="수취인 휴대전화 앞자리" style="width:88px">
                                <option value="010">010</option>
                                <option value="011">011</option>
                                <option value="016">016</option>
                                <option value="017">017</option>
                                <option value="018">018</option>
                                <option value="019">019</option>
                            </select>&nbsp;-
                            <input type="text" name="receivePhoneMiddle" title="수취인 휴대전화 가운데자리" style="width:70px;ime-mode:disabled" maxlength="4">&nbsp;-
                            <input type="text" name="receivePhoneEnd" title="수취인 휴대전화 뒷자리" style="width:70px;ime-mode:disabled" maxlength="4">
                            <input type="hidden" name="orderRecipientPhone" title="수취인 휴대전화" style="width:70px;ime-mode:disabled" maxlength="4">
                            <input type="hidden" name="orderStatus" value="주문완료" title="주문상태" style="width:70px;ime-mode:disabled" maxlength="4">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">배송지 <em>*</em></th>
                        <td>
                            <input type="text" id="postcode" name="orderZipcode" title="배송지 우편번호" placeholder="우편번호" style="width:70px" readonly>
                            <button type="button" class="btnTypeA" id="find-address">우편번호찾기</button><br>
                            <input type="text" id="roadAddress" name="roadAddress" title="배송지 주소" placeholder="배송지 주소" style="width:400px;margin-top:6px" readonly><br>
                            <input type="text" name="detailAddress" title="배송지 상세주소" style="width:400px;margin-top:6px" placeholder="상세주소 입력" class="detail-address">
                            <input type="text" name="orderAddress" title="배송지 주소" style="width:400px;margin-top:6px;display:none" class="detail-address">
                        </td>
                    </tr>
                    <!-- 임시 확인용-->
                    <input type="hidden" name="orderQuantity" title="양" value="1" style="width:400px;margin-top:6px" class="detail-address">
                    <input type="hidden" name="orderTotalPrice" title="가격" value="10000" style="width:400px;margin-top:6px" class="detail-address">
                    <input type="hidden" name="productRegistrationId" title="제품번호" value="1" style="width:400px;margin-top:6px" class="detail-address">
                    <!-- <tr>
                        <th scope="row">배송 요청사항</th>
                        <td>
                            <select name="">
                                <option value="">배송 메시지를 입력해주세요</option>
                                <option value="배송 전에 미리 연락 바랍니다.">배송 전에 미리 연락 바랍니다.</option>
                                <option value="부재시 경비실에 맡겨주세요.">부재시 경비실에 맡겨주세요.</option>
                                <option value="택배함에 넣어주세요.">택배함에 넣어주세요.</option>
                                <option value="직접입력">직접입력</option>
                            </select>
                            <br>
                            <input type="text" name="" id="" style="display:none; margin-top:5px;width:400px;">
                        </td>
                    </tr> -->
                </tbody>
            </table>
            
            <h2 class="order-content-title">주문상품 확인</h2>
            <table class="order-list">
                <caption>주문/결제 상품 목록</caption>
                <colgroup>
                    <col width="126">
                    <col width="350">
                    <col width="180">
                    <col width="220">
                    <col width="150">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col" colspan="2">상품</th>
                        <th scope="col">수량</th>
                        <th scope="col">가격</th>
                        <th scope="col">배송비</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 장바구니에서 여러개 있을 시 반복 -->
                    <tr>
                        <td colspan="2">
                            <a href="">
                                2024 설 장수 사과 세트
                                <p class="order-content">
                                    <span>흠과</span>
                                    <span>5kg</span>
                                </p>
                            </a>
                        </td>
                        <td>1</td>
                        <td>
                            <p class="price"><strong>120,000</strong>원</p>
                        </td>
                        <td>무료</td>
                    </tr>
                    <!-- 반복 종료 -->
                </tbody>
            </table>
    
            <div class="payment">
                <div class="total-price">
                    <span>상품 소계 <em><strong>120,000</strong>원</em></span>
                    <span class="math">+</span>
                    <span>총 배송비 <em><strong>0</strong>원</em></span>
                    <span class="math">=</span>
                    <span class="total">총 결제 금액 <em class="fontTypeA"><strong>120,000</strong>원</em></span>
                </div>
            </div>

            <h2 class="order-content-title">결제수단 선택</h2>
            <div class="pay-way">
                <span>경북 봉화군 법전면 엉고개길 88 정재하</span>
                <br>
                <span>핸드폰 : 010-4532-4350</span>
                <br>
                <p>계좌번호 : 937702-00-710610</p>
                <p>예금주 : 정현진</p>
            </div>

            <div class="pay-check-container">
                <input type="checkbox" class="pay-check">
                <span>위 계좌번호에 입금 후 주문하기 버튼을 눌러주세요. 입금이 안되었는데 주문만 했을 시 주문을 반려시킬 수 있습니다.</span>
            </div>

            <div class="btnArea">
                <a href="" class="btnTypeA sizeXL">장바구니</a>
                <button type="button" class="btnTypeB sizeXL" id="order-btn" disabled>주문하기</button>
            </div>
        </form>
    </div>
    <!-- 모달 -->
    <div class="modal-container">
        <div class="modal">
            <div class="modal-content">
                <div class="modal-major-content">
                    <span class="text">정현진님을 삭제하시겠습니까?</span>
                </div>
                <div class="modal-button">
                    <button type="button" class="modal-btn">확인</button>
                </div>
            </div>
        </div>
    </div>
<footer id="footer" th:replace="fragments/footer :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/order/order.js"></script>
</html>