<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 상세보기</title>
    <link rel="stylesheet" href="../../static/css/order/product-detail.css">
</head>
<body>
    <div class="container">
        <div class="product-content">
			<div class="product-img-container">
				<div class="product-img-content">
					<div class="big-img">
						<img src="../../static/image/KakaoTalk_20240122_174452638.jpg" class="product-img">
					</div>
					<div class="small-img">
						<img src="../../static/image/KakaoTalk_20240122_174452638.jpg" class="product-img">
						<img src="../../static/image/KakaoTalk_20240122_174452638.jpg" class="product-img">
						<img src="../../static/image/KakaoTalk_20240122_174452638.jpg" class="product-img">
						<img src="../../static/image/KakaoTalk_20240122_174452638.jpg" class="product-img">
						<img src="../../static/image/KakaoTalk_20240122_174452638.jpg" class="product-img">
					</div>
				</div>
			</div>
			<form name="" id="" method="post">
				<div class="product-information">
					<ul class="sns">
						<li class="facebook"><a href="">페이스북</a></li>
						<li class="twitter"><a href="">트위터</a></li>
						<li class="kakao"><a href="">카카오스토리</a></li>
					</ul>
					<h1>신비복숭아 1.7kg내외(12과)</h1>
					<p class="product-summary">백도 맛의 천도복숭아</p>
					<!-- <p class="product-price">
						<strong>26,000</strong>원
					</p> -->
					<p class="original">
					
					</p>
					<dl>
						<dt>판매단위</dt><dd>5kg/10kg</dd>
						<dt>중량/용량</dt><dd>5kg/10kg</dd>
						<dt>포장타입</dt><dd>박스포장</dd>

						<dt>판매자</dt><dd>정재하</dd>
						<dt>원산지</dt><dd>경상북도 봉화군</dd>




						<!-- <dt>수량선택</dt><dd>품절</dd> -->

						<dt>수량선택</dt>
						<dd class="count">
							<span class="count-sign" id="minus">
								<img src="https://www.sanghafarm.co.kr/images/btn/btn_minus.png" alt="-">
							</span>
							<input type="text" name="number" value="1" readonly>
							<span class="count-sign" id="plus">
								<img src="https://www.sanghafarm.co.kr/images/btn/btn_plus.png" alt="+">
							</span>
						</dd>

						<dt class="option">규격</dt>
						<dd>
							<select name="" title="규격 선택">
								<option value="특">특</option>
								<option value="1번">1번</option>
								<option value="2번">2번</option>
								<option value="3번">3번</option>
								<option value="흠과">4번(흠과)</option>
							</select>
						</dd>

						<dt class="option">키로수</dt>
						<dd>
							<select name="" title="키로수 선택">
								<option value="5kg">5kg</option>
								<option value="10kg">10kg</option>
							</select>
						</dd>

						<!-- <dt class="option">배송일지정</dt>
						<dd>
							<select name="" title="배송일 선택">
								<option value="2024.01.18">2024.01.18</option>
								<option value="2024.01.19">2024.01.19</option>
								<option value="2024.01.20">2024.01.20</option>
								<option value="2024.01.22">2024.01.22</option>
								<option value="2024.01.23">2024.01.23</option>
								<option value="2024.01.24">2024.01.24</option>
								<option value="2024.01.25">2024.01.25</option>
								<option value="2024.01.26">2024.01.26</option>
								<option value="2024.01.27">2024.01.27</option>
								<option value="2024.01.29">2024.01.29</option>
							</select>
						</dd> -->

						<dt class="total">총 상품 금액</dt>
						<dd class="total">
							<strong><span id="total_price"></span></strong>원
						</dd>
					</dl>

					<div class="btnArea">
						<span><a href="" class="basket">장바구니</a></span>
						<span><button class="submit-btn">바로구매</button></span>
					</div>
				</div>
			</form>
		</div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="../../static/js/order/product-detail.js"></script>
</html>