<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인 화면</title>
  <link rel="stylesheet" href="../../static/css/main/main.css">
</head>
<body>
  <header id="header" th:replace="fragments/header :: header"></header>

  <!-- 슬라이드 따라다니는 그거 있잖아 그거임 -->
  <div class="quickmenu">
    <ul>
      <li><a href="#">고객센터</a></li>
    </ul>
  </div>

  <div id="container">
    <div class="mainSecB">
      <div class="wrap">
        <h2 class="typeA">정드림 대표상품</h2>
        <div id="recommandProduct">
          <div class="slideCont1">
            <ul class="pdList recommandProList">
              <!-- 첫 번째 리스트 칸 (노른자가 진하고....) -->
              <li class="line0" style="height: 406px;">
                <a href="">
                  <div class="thumb">
                    <img src="https://www.sanghafarm.co.kr/sanghafarm_Data/upload/shop/product/202302/A0002524_2023020311263433890.jpg" alt="현진이 인생사진">
                  </div>
                    <p class="tit">우리는 스스로를 과대평가 했다</p>
                      <p class="cont">으아아아아아아</p>
                        <p class="price">
                          <strong>5,980</strong>
                          원 
                       </p>
                    <!-- 이건 뭐야 1 -->
                    <p>
                      <span></span>
                    </p>
                </a>
              </li>
              <!-- 두 번째 리스트 칸 (식혜) -->
              <li class="line0" style="height: 406px;">
                <a href="">
                  <div class="thumb">
                    <img src="https://www.sanghafarm.co.kr/sanghafarm_Data/upload/shop/product/202302/A0002524_2023020311263433890.jpg" alt="현진이 인생사진">
                  </div>
                    <p class="tit">조규성 아웃</p>
                      <p class="cont">조규성은 인플루언서다</p>
                        <p class="price">
                          <strong>10억</strong>
                          원 
                       </p>
                    <!-- 이건 뭐야 2 -->
                    <p>
                      <span></span>
                    </p>
                </a>
              </li>
              <!-- 세 번째 리스트 칸 (오징어) -->
              <li class="line0" style="height: 406px;">
                <a href="">
                  <div class="thumb">
                    <img src="https://www.sanghafarm.co.kr/sanghafarm_Data/upload/shop/product/202302/A0002524_2023020311263433890.jpg" alt="현진이 인생사진">
                  </div>
                    <p class="tit">희발 씌찬이형 사랑해</p>
                      <p class="cont">날 가져요 엉엉</p>
                        <p class="price">
                          <strong>10억 5천만</strong>
                          원 
                       </p>
                    <!-- 이건 뭐야 3 -->
                    <p class="icon">
                      <span></span>
                    </p>
                </a>
              </li>
              <!-- 네 번쨰 리스트 칸 (딸기) -->
              <li class="line0" style="height: 406px;">
                <a href="">
                  <div class="thumb">
                    <img src="https://www.sanghafarm.co.kr/sanghafarm_Data/upload/shop/product/202302/A0002524_2023020311263433890.jpg" alt="현진이 인생사진">
                  </div>
                    <p class="tit">로또 당첨되고 싶다</p>
                      <p class="cont">당첨되면 탕후루에 설탕만 핥아 먹을꺼임</p>
                        <p class="price">
                          <strong>23억</strong>
                          원 
                       </p>
                    <!-- 이건 뭐야 4 -->
                    <p>
                      <span></span>
                    </p>
                </a>
              </li>
            </ul>
          </div>
          <!-- 리스트칸 두 번째 블럭으로 만들 예정 -->
          <div class="slideCont1">
            <ul class="pdList recommandProList">
              <!-- 첫 번째 리스트 칸 (계란) -->
              <li class="line0" style="height: 406px;">
                <a href="">
                  <div class="thumb">
                    <img src="https://www.sanghafarm.co.kr/sanghafarm_Data/upload/shop/product/202302/A0002524_2023020311263433890.jpg" alt="현진이 인생사진">
                  </div>
                    <p class="tit">대구 가고싶다</p>
                      <p class="cont">간장공장 공장장은</p>
                        <p class="price">
                          <strong>200</strong>
                          원 
                       </p>
                    <!-- 진짜 여기 span 뭐지 스페인인가 -->
                    <p>
                      <span></span>
                    </p>
                </a>
              </li>
              <!-- 두 번째 리스트 칸 (식혜) -->
              <li class="line0" style="height: 406px;">
                <a href="">
                  <div class="thumb">
                    <img src="https://www.sanghafarm.co.kr/sanghafarm_Data/upload/shop/product/202302/A0002524_2023020311263433890.jpg" alt="현진이 인생사진">
                  </div>
                    <p class="tit">커피가 마시고싶다</p>
                      <p class="cont">아이스 아메리카노 먹고싶다</p>
                        <p class="price">
                          <strong>1,800</strong>
                          원 
                       </p>
                    <!-- 이건 뭐야 2 -->
                    <p>
                      <span></span>
                    </p>
                </a>
              </li>
              <!-- 세 번째 리스트 칸 (오징어) -->
              <li class="line0" style="height: 406px;">
                <a href="">
                  <div class="thumb">
                    <img src="https://www.sanghafarm.co.kr/sanghafarm_Data/upload/shop/product/202302/A0002524_2023020311263433890.jpg" alt="현진이 인생사진">
                  </div>
                    <p class="tit">돈 많은 사람이 되고싶어요</p>
                      <p class="cont">근데 사람구실도 못하는 중 핳</p>
                        <p class="price">
                          <strong>7,200</strong>
                          원 
                       </p>
                    <!-- 이건 뭐야 3 -->
                    <p>
                      <span></span>
                    </p>
                </a>
              </li>
              <!-- 네 번쨰 리스트 칸 (딸기) -->
              <li class="line0" style="height: 406px;">
                <a href="">
                  <div class="thumb">
                    <img src="https://www.sanghafarm.co.kr/sanghafarm_Data/upload/shop/product/202302/A0002524_2023020311263433890.jpg" alt="현진이 인생사진">
                  </div>
                    <p class="tit">나는 언제 이렇게 돼지가 되었는가</p>
                      <p class="cont">살을 빼야하는데</p>
                        <p class="price">
                          <strong>7,500</strong>
                          원 
                       </p>
                    <!-- 이건 뭐야 4 -->
                    <p>
                      <span></span>
                    </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer id="footer" th:replace="fragments/footer :: footer"></footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(function(){  
var currentPosition = parseInt($(".quickmenu").css("top")); 
    $(window).scroll(function() { 
            var position = $(window).scrollTop(); 
            $(".quickmenu").stop().animate({"top":position+currentPosition+"px"},450); 
    });
});
</script>
</body>
</html>