<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 내역 페이지</title>
    <link rel="stylesheet" href="../../static/css/order-history/order-history-list.css">
</head>
<body>
    <div id="container">
            <form name="" id="" method="" action="">
                <div class="history-title">
                    <h1>주문결제 내역</h1>
                </div>
                <ul class="caution">
                    <li>[결제완료]이전 단계일 경우, [주문배송조회] 페이지 내 직접 취소 가능합니다.<br>
                    [상품준비중] 단계일 경우, 생산 및 배송이 시작되어 주문취소가 불가합니다.</li>
                    <li>주문 상품의 부분취소는 불가합니다. 전체 주문취소 후 재구매 해주세요.</li>
                    <li>배송완료 후 2~3일 후 구매확정 상태로 자동 전환 됩니다.</li>
                </ul>
                <table class="history-list">
                    <caption>주문결제 내역 목록</caption>
                    <colgroup>
                        <col width="126">
                        <col width="350">
                        <col width="250">
                        <col width="150">
                        <col width="150">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">주문내역</th>
                            <th scope="col">주문일시/주문번호</th>
                            <th scope="col">수량</th>
                            <th scope="col">가격</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <td colspan="2">
                                <a href="">
                                    2024 설 장수 사과 세트
                                    <p class="history-content">
                                        <span>흠과</span>
                                        <span>5kg</span>
                                    </p>
                                </a>
                            </td>
                            <td>2024-01-01/20000913</td>
                            <td>1</td>
                            <td>
                                <p class="price"><strong>120,000</strong>원</p>
                            </td>
                        </tr> -->
                        <tr>
                            <td colspan="5">+++ 주문내역이 없습니다 +++</td>
                        </tr>
                    </tbody>
                </table>
            </form>
    </div>
</body>
</html>