<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 페이지</title>
    <link rel="stylesheet" href="../../static/css/order/order.css">
</head>
<body>
    <div id="wrapper">
        <div id="order-container">
            <!-- 내용영역 -->
            <div class="pdtHead">
                <div class="thumbArea">
                    <p class="thumb">
                        <img src="">
                    </p>
                </div>
                <!-- thumbArea -->
                <form>
                    <div class="pdtInfo">
                        <h1>[당도 100%]꿀사과 꿀꿀</h1>
                        <p class="summary">둘이 먹다가 둘이 죽어도 모르는 맛</p>
                        <p class="price">
                            <strong>30,000</strong>
                            원
                        </p>
                        <p class="original"></p>
                        <dl>
                            <dt>판매단위</dt>
                            <dd>1.7kg 내외(총 12개)</dd>
                            <dt>중량/용량</dt>
                            <dd>2kg 내외(총 12개)</dd>
                            <dt>원산지</dt>
                            <dd>국내산</dd>
                            <dt>수량선택</dt>
                        </dl>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>