<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>푸터</title>
  <link rel="stylesheet" href="../../static/css/fragments/footer.css">
</head>
<body>
  <div id="footer" th:fragment="footer">
      <div class="wrap">
        <p class="logo">
          <img src="https://www.sanghafarm.co.kr/images/layout/logo2.png" alt="상하농원">
        </p>
          <div class="contact">
            <!-- <ul></ul> --> <!-- 입점제휴문의,..... 넣을껀지 뺄껀지 -->
            <p>
              <span>경북 봉화읍 법전면 엉고개길 88</span>
              <span>대표 : 정재하</span>
              <span>개인정보 보호 책임자 : 정현진</span>
            </p>
            <p>
              <span>사업자등록번호 : 010-4532-4350</span>
              <span>계좌번호 : 1002-352-414521 (우리은행)</span>
            </p>
            <p>
              <span>상담이용시간 : 09:30~18:00</span>
              <span>농원운영시간 : 연중무휴 09:30~21:00</span>
            </p>
            <p>
              <span>고객센터 010-4532-4350</span>
              <span>고객센터 010-4532-4350</span>
            </p>
          </div>
      </div>
  </div>
</body>
</html>