
.goods-list{
    overflow: hidden;
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.goods{
    display: inline-block;
    text-align: -webkit-match-parent;
    height: 300px;
    width: 250px;
    padding: 20px;
}


.goods-list li>a {
    color: #000000;
    text-decoration: none;
    margin-right: 10px;
    font-size:14px;
}

.thumb{
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    height: 250px;
}

.goods-list img{
    width:250px;
}

.goods-price {
    font-weight: 400;
}

.upload-date {
    font-weight: 400;
}

.goods p{
    margin: 0px 0px 5px 0px;
}

.write-content{
    height: max-content;
}