<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 상세 페이지</title>
    <link rel="stylesheet" href="../../static/css/customer/cust-announce-detail.css">
</head>
<body>
    <div id="wrapper">
        <p class="original"></p>
        <div id="main-container">
            <div id="snb" class="customerSnb" style="min-height: 857px;">
               <!-- <img src="../../static/image/announcement/person.png" style="background: #86786c;" width="200"> -->
                <p class="tit">
                    고객센터
                </p>
                <ul>
                    <li>
                        <!-- <a href="">공지사항</a> -->
                        공지사항
                    </li>
                    <li>
                        <!-- <a href="">1:1문의</a> -->
                        1:1문의
                    </li>
                    <li>
                        <!-- <a href="">1:1문의</a> -->
                        1:1문의내역
                    </li>
                </ul>
                <div class="centerInfo">
                    <p class="tel">
                        보류
                        <br>
                        <span>010-1234-5678</span>
                    </p>
                    <p class="time">오전 09:00 ~ 오후 18:00</p>
                </div>
            </div>
            <div id="contArea">
                <h1 class="typeA">공지사항</h1>
                <!-- 내용영역 -->
                <div class="bbsView">
                    <div class="head">
                        <h2>기상악화로 인한 배송지연 안내</h2>
                        <p class="date">2024.01.23</p>
                    </div>
                    <div class="content">
                        <p style="text-align: center; ">이게 맞나..</p>
                        <p style="text-align: center;"><br></p>
                        <p style="text-align: center;"><br></p>
                    </div>
                </div>
                <div class="btnArea ac">
                    <a href="" class="btnTypeB">목록</a>
                </div>
                <ul class="paging"></ul>
            </div>
        </div>
    </div>
</body>
</html>