<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 내역 페이지</title>
    <link rel="stylesheet" href="../../static/css/customer/cust-inquiry-list.css">
</head>
<body>
    <div id="wrapper">
        <p class="original"></p>
        <div id="main-container">
            <div id="snb" class="customerSnb" style="min-height: 857px;">
               <!-- <img src="../../static/image/announcement/person.png" style="background: #86786c;" width="200"> -->
               <p class="tit">
                <a id="tit-center">고객센터</a>
            </p>
            <ul>
                <li>
                    <a id="tit-anno">공지사항</a>
                </li>
                <li>
                    <a id="tit-inForm">1:1문의</a>
                </li>
                <li>
                    <a id="tit-inForm-list">1:1문의내역</a>
                </li>
            </ul>
                <div class="centerInfo">
                    <p class="tel">
                        보류
                        <br>
                        <span>010-1234-5678</span>
                    </p>
                    <p class="time">오전 09:00 ~ 오후 18:00</p>
                </div>
            </div>
            <div id="contArea">
                <h1 class="typeA">1:1 문의내역</h1>
                <!-- 내용영역 -->
                <!-- <p class="caution">항상 최선을 다하는 상하농원이 되겠습니다.</p> -->
                <table class="bbsList typeD">
                    <caption>1:1문의내역 목록</caption>
                    <colgroup>
                        <col width="450">
                        <col width="200">
                        <col width="200">
                        <!-- <col width="100"> -->
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">제목</th>
                            <th scope="col">답변여부</th>
                            <th scope="col">배송상태</th>
                            <!-- <th scope="col"></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="on">
                            <td class="tit">
                                배송 문희요~
                            </td>
                            <td>답변완료</td>
                            <td>2024.01.26</td>
                        </tr>
                        <!-- 내용영역 -->
                        <tr class="counselCont" id="counselCont0">
                            <td colspan="4">
                                <div class="qa">
                                    <div class="question">평균 배송기간은 며칠정도 걸리나요?
                                        <br>
                                        <br>
                                    </div>
                                    <!-- <div class="answer">
                                        안녕하세요. 고객님 
                                        <br>자연의 건강함을 전하는 상하농원입니다.
                                        <br>
                                        <br>상하농원을 이용해주셔서 감사드립니다.
                                        <br>
                                        <br>고객님의 성함과 연락처로는 홈페이지 구매건이 조회되지 않습니다.
                                        <br>궁금하신 점을 조금 자세히 남겨주시면 다시 한 번 확인하도록 하겠습니다.
                                        <br>
                                        <br>감사합니다.
                                        <br>상하농원 드림.
                                        <br>
                                    </div> -->
                                </div>
                            </td>
                        </tr>
                        <tr class="on">
                            <td class="tit">
                                배송 문희요~
                            </td>
                            <td>답변대기</td>
                            <td>2024.01.26</td>
                        </tr>
                        <!-- 내용영역 -->
                        <tr class="counselCont" id="counselCont0">
                            <td colspan="4">
                                <div class="qa">
                                    <div class="question">평균 배송기간은 며칠정도 걸리나요?
                                        <br>
                                        <br>
                                    </div>
                                    <div class="answer">
                                        안녕하세요. 고객님 
                                        <br>자연의 건강함을 전하는 상하농원입니다.
                                        <br>
                                        <br>상하농원을 이용해주셔서 감사드립니다.
                                        <br>
                                        <br>고객님의 성함과 연락처로는 홈페이지 구매건이 조회되지 않습니다.
                                        <br>궁금하신 점을 조금 자세히 남겨주시면 다시 한 번 확인하도록 하겠습니다.
                                        <br>
                                        <br>감사합니다.
                                        <br>상하농원 드림.
                                        <br>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul class="paging"></ul>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- <script src="../../static/js/customer/cust-announce-detail.js"></script> -->
<!-- <script src="../../static/js/customer/cust-announce.js"></script> -->
<!-- <script src="../../static/js/customer/cust-inquiry-form.js"></script> -->
<!-- <script src="../../static/js/customer/cust-inquiry-list.js"></script> -->
</html>