<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.jungdream.mapper.product.ProductFileMapper">
    <!--  :::::::::::::::::::::::::::::::::::::::::::::::::::SELECT:::::::::::::::::::::::::::::::::::::::::::::::::::  -->
    <select id="selectProductFile" resultType="productFileVO">
        select product_file_id as file_id, product_uuid as uuid, product_file_path as file_path, product_file_name as file_name, product_id
        from tbl_product_file where product_id = #{productId}
    </select>

    <!--  :::::::::::::::::::::::::::::::::::::::::::::::::::INSERT:::::::::::::::::::::::::::::::::::::::::::::::::::  -->
    <insert id="insertProductFile">
        insert into tbl_product_file
            (product_uuid, product_file_path, product_file_name, product_id)
        values(#{uuid}, #{filePath}, #{fileName}, #{productId})
    </insert>

    <!--  :::::::::::::::::::::::::::::::::::::::::::::::::::UPDATE:::::::::::::::::::::::::::::::::::::::::::::::::::  -->


    <!--  :::::::::::::::::::::::::::::::::::::::::::::::::::DELETE:::::::::::::::::::::::::::::::::::::::::::::::::::  -->

</mapper>