<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.jungdream.mapper.product.ProductOptionMapper">
    <!--  :::::::::::::::::::::::::::::::::::::::::::::::::::SELECT:::::::::::::::::::::::::::::::::::::::::::::::::::  -->
    <select id="selectProductOption" resultType="productOptionVO">
        select product_option_id, product_option_specification, product_option_weight, product_option_quantity, product_option_price, product_id
        from tbl_product_option where product_id = #{productId}
    </select>

    <!--  :::::::::::::::::::::::::::::::::::::::::::::::::::INSERT:::::::::::::::::::::::::::::::::::::::::::::::::::  -->
    <insert id="insertProductOption">
        insert into tbl_product_option
        (product_option_specification, product_option_weight, product_option_quantity, product_option_price, product_id)
        values(#{productOptionSpecification}, #{productOptionWeight}, #{productOptionQuantity}, #{productOptionPrice}, #{productId})
    </insert>

    <!--  :::::::::::::::::::::::::::::::::::::::::::::::::::UPDATE:::::::::::::::::::::::::::::::::::::::::::::::::::  -->


    <!--  :::::::::::::::::::::::::::::::::::::::::::::::::::DELETE:::::::::::::::::::::::::::::::::::::::::::::::::::  -->

</mapper>