<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.jungdream.mapper.product.ProductMapper">
    <!--  :::::::::::::::::::::::::::::::::::::::::::::::::::SELECT:::::::::::::::::::::::::::::::::::::::::::::::::::  -->

    <!-- 상품 조회-->
    <select id="selectProduct" resultType="productDTO">
        select product_id, product_status, product_title, prodct_seller, product_registration_id,
               product_option_specification, product_option_weight, product_option_quantity, product_option_price
        from tbl_product where product_id = #{productId}
    </select>

    <!-- 현재 상품의 id 조회 -->
    <select id="selectProductId">
        select product_id from tbl_product order by product_id desc limit 1
    </select>

    <!--  :::::::::::::::::::::::::::::::::::::::::::::::::::INSERT:::::::::::::::::::::::::::::::::::::::::::::::::::  -->
    <insert id="insertProduct">
        insert into tbl_product
        (product_sales_unit, product_title, product_seller, product_registration_id)
        values(#{productSalesUnit}, #{productTitle}, #{productSeller}, #{productRegistrationId})
    </insert>


    <!--  :::::::::::::::::::::::::::::::::::::::::::::::::::UPDATE:::::::::::::::::::::::::::::::::::::::::::::::::::  -->


    <!--  :::::::::::::::::::::::::::::::::::::::::::::::::::DELETE:::::::::::::::::::::::::::::::::::::::::::::::::::  -->

</mapper>