div {
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

#wrapper {
    position: relative;
    width: 100%;
    min-width: 1100px;
}

.original{
    width: 1100px;
    height: 50px;
    padding-top: 10px;
    margin: 0 auto;
}

#main-container{
    width: 1100px;
    padding-bottom: 120px;
    margin: 0 auto;
}

#snb {
    float: left;
    width: 190px;
    padding-bottom: 120px;
    margin: -60px 0 -120px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

/* ::selection {
    background: #86786c;
} */

#snb .tit {
    position: relative;
    height: 76px;
    padding-top: 94px;
    margin: 0 -1px;
    text-align: center;
    font-family: 'nsb';
    font-size: 18px;
    line-height: 19px;
    color: #fff;
    background-color: #86786c;
    background-image: url(/image/announcement/person.png);
}

ul, ol, li {
    list-style: none;
}

.customerSnb >ul {
    padding: 13px 20px 14px;
}

.customerSnb >ul li {
    padding: 7px 0 6px;
    font-family: 'nsb';
    font-size: 14px;
    line-height: 15px;
    color: #828282;
    font-weight: 600;
}

.customerSnb >ul li a {
    color: #828282;
}

.centerInfo {
    padding: 30px 0 20px 20px;
    margin-top: 20px;
    background: #e9e6e2;
}

.centerInfo .tel {
    font-family: 'nsb';
    font-size: 15px;
    color: #332f21;
}

.centerInfo .time {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #dad5ce;
    color: #828282;
    font-size: 13px;
}

#contArea {
    float: right;
    width: 850px;
    padding-bottom: 120px;
    margin-bottom: -120px;
}

#contArea h1.typeA {
    height: 38px;
    margin-bottom: 40px;
    font-family: 'nsb';
    font-size: 24px;
    line-height: 25px;
    color: #332f21;
    border-bottom: 2px solid #e5e5e5;
}

.bbsList {
    width: 100%;
    border-top: 2px solid #828282;
    border-bottom: 1px solid #d9d9d9;
    table-layout: fixed;
}

table {
    border-collapse: collapse;
    border-spacing: 0 !important;
    font-size: 13px;
    font-weight: normal;
    color: rgb(102, 102, 102);
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    border-color: gray;
}

caption {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
}

p.caution {
    position: relative;
    padding-left: 8px;
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
}

col {
    display: table-column;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.bbsList thead th {
    height: 50px;
    border-bottom: 1px solid #828282;
    text-align: center;
    font-family: 'nsb';
    color: #332f21;
    line-height: 50px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.bbsList tbody td.tit {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.bbsList.typeD tbody td {
    border-left-width: 0;
    /* border-top-style: dotted; */
}

.bbsList tbody td {
    padding: 16px 0 15px;
    /* border-top: 1px solid #d9d9d9; */
    border-left: 1px solid #d9d9d9;
    line-height: 18px;
    /* text-align: center; */
}

.bbsList.typeD tbody th, .bbsList.typeD tbody td {
    border-left-width: 0;
    border-top-style: dotted;
}

.bbsList .counselCont th, .bbsList .counselCont td {
    border-top: 0;
}

.bbsList .counselCont td {
    /* padding: 0 15px 20px 140px; */
    text-align: left;
}

.qa {
    position: relative;
    padding: 15px 50px 15px 15px;
    font-size: 14px;
    line-height: 22px;
    color: #939393;
    background: #f5f5f5;
}

.qa .question {
    position: relative;
    padding-left: 34px;
    padding-top: 2px;
}

.qa .answer {
    position: relative;
    padding-left: 34px;
    padding-top: 2px;
    margin-top: 25px;
}

.paging {
    margin-top: 60px;
    text-align: center;
}