div {
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

#wrapper {
    position: relative;
    width: 100%;
    min-width: 1100px;
}

.original{
    width: 1100px;
    height: 50px;
    padding-top: 10px;
    margin: 0 auto;
}

#main-container{
    width: 1100px;
    padding-bottom: 120px;
    margin: 0 auto;
}

#snb {
    float: left;
    width: 190px;
    padding-bottom: 120px;
    margin: -60px 0 -120px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

/* ::selection {
    background: #86786c;
} */

#snb .tit  {
    position: relative;
    height: 76px;
    padding-top: 94px;
    margin: 0 -1px;
    text-align: center;
    font-family: 'nsb';
    font-size: 18px;
    line-height: 19px;
    color: #fff;
    background-color: #86786c;
    background-image: url(/image/announcement/person.png);
}

#snb .tit a {
    color: #fff;
}

ul, ol, li {
    list-style: none;
}

.customerSnb >ul {
    padding: 13px 20px 14px;
}

.customerSnb >ul li {
    padding: 7px 0 6px;
    font-family: 'nsb';
    font-size: 14px;
    line-height: 15px;
    color: #828282;
    font-weight: 600;
}

.customerSnb >ul li a {
    color: #828282;
}

.centerInfo {
    padding: 30px 0 20px 20px;
    margin-top: 20px;
    background: #e9e6e2;
}

.centerInfo .tel {
    font-family: 'nsb';
    font-size: 15px;
    color: #332f21;
}

.centerInfo .time {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #dad5ce;
    color: #828282;
    font-size: 13px;
}

#contArea {
    float: right;
    width: 850px;
    padding-bottom: 120px;
    margin-bottom: -120px;
}

#contArea h1.typeA {
    height: 38px;
    margin-bottom: 40px;
    font-family: 'nsb';
    font-size: 24px;
    line-height: 25px;
    color: #332f21;
    border-bottom: 2px solid #e5e5e5;
}

.bbsForm {
    width: 100%;
    table-layout: fixed;
    border-top: 2px solid #828282;
}

table {
    border-collapse: collapse;
    border-spacing: 0 !important;
    font-size: 13px;
    font-weight: normal;
    color: #666;
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    border-color: gray;
}

caption {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
    display: table-caption;
    text-align: -webkit-center;
}

p.caution {
    position: relative;
    padding-left: 8px;
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
}

colgroup {
    display: table-column-group;
}

col {
    display: table-column;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.bbsForm.typeB tr {
    border-bottom: 1px solid #d9d9d9;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.bbsForm.typeB th {
    border-right: 1px solid #d9d9d9;
}

.bbsForm th {
    padding: 16px 0 16px 20px;
    font-family: 'nsb';
    color: #332f21;
    line-height: 18px;
    vertical-align: top;
    text-align: left;
}

.bbsForm.typeB tr {
    border-bottom: 1px solid #d9d9d9;
}

label {
    cursor: default;
}

.bbsForm.typeB td {
    padding-left: 20px;
    line-height: 23px;
}

.bbsForm td {
    height: 30px;
    padding: 10px 0;
}

.bbsForm td >* {
    vertical-align: middle;
}

input[type=text] {
    box-sizing: content-box;
    height: 28px;
    padding: 0 10px;
    margin: 0;
    border: 1px solid #c4c4c4;
    line-height: 28px;
    background: #fff;  
}

bbsForm td textarea {
    line-height: 1.4em;
}

textarea {
    border: 1px solid #c4c4c4;
    /* padding: 10px;
    margin: 0; */
    background: #fff;
    resize: none;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    cursor: text;
    overflow-wrap: break-word;
    column-count: initial !important;
    white-space: pre-wrap;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

span.file {
    position: relative;
    display: inline-block;
    overflow: hidden;
    min-width: 1px;
    width: 70px;
    padding: 0;
    margin-left: -5px;
    cursor: pointer;
    vertical-align: top;
}

.btnTypeB {
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff !important;
    font-size: 13px;
    font-family: 'nsb';
    box-sizing: border-box;
    background: #59621d;
}

#contArea .btnArea {
    margin-top: 20px;
    text-align: right;
}

.ac {
    text-align: center !important;
}

.btnTypeB {
    display: inline-block;
    min-width: 90px;
    height: 30px;
    padding: 0 10px;
    text-align: center;
    line-height: 30px;
    color: #fff !important;
    font-size: 13px;
    font-family: 'nsb';
    box-sizing: border-box;
    background: #59621d;
}

.paging {
    margin-top: 60px;
    text-align: center;
}

a {
    color: #666;
    text-decoration: none;
    cursor: pointer;
}

  /* 모달창 스타일 */
  .deleteCont-modal {
    /* 모달창은 처음에는 보이지 않도록 설정 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* 배경은 반투명한 검은색으로 설정 */
    align-items: center;
    /* display: flex; */
    top: 0px;
    display: none;
    /* font-family: 'Noto Sans KR'; */
    z-index: 9999;
 }

 /* 모달창 내용 스타일 */
 .modal-content {
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    width: 20%;
    height: 120px;
    /* align-items: center; */
    /* display: flex; */
    position: relative;
    /*top: -30px;*/
      top: 50%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  }
  
  .modal-content h2 {
    margin-top: 0;
    font-weight: bold;
    font-size: 24px;
  }
  
  .modal-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  /* 모달창 안의 버튼들 스타일 */
  .modal-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .modal-buttons button {
    background-color: #fff;
    color: #444;
    border: 1px solid #aaa;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    font-family: 'Noto Sans KR';
  }
  
  .modal-buttons button:hover {
    background-color: #00663369;
    color: #fff;
    border: 0;
  }

  .modal-buttons button:hover {
    background-color: #00663369;
    color: #fff;
    border: 0;
  }

  .filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}